<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @picture.name %>
</p>

<p>
  <b>Description:</b>
  <%= @picture.description %>
</p>

<p>
  <b>Location:</b>
  <%= @picture.location %>
</p>

<p>
  <b>Catégorie:</b>
  <%= @picture.category.name %>
</p>
<p>
  <b>Note:</b>
  <%= @picture.moyenne %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
